# Entornos virtuales
venv/
env/
ENV/

# Base de datos
*.sqlite3
*.db

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos y IDEs
.vscode/
.idea/
*.swp
*.swo

# Django
media/
staticfiles/

# Logs
*.log
logs/

# Archivos de sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.production
.env.test